{% load static %}

<footer>
    <div class="container-fluid">
        <div class="footer-con text-center">
          <p class="text-center">Contact</p>
          <span class="d-flex justify-content-center">Contact us to learn more about new releases, contact-free virtual events and grab and go checkout services available now.</span>
        </div>
        <div class="contact-div container-fluid">
          <div class="row">
            <div class="col-12 col-lg-3">
              <div class="add-con text-center">
                <p>Address</p>
                <span class="">Viman Nagar, Pune</span>
                <br><br>
                <span class="">+91 1234567890</span>
                <span class="">info@resourceoasis.com</span>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="add-con text-center">
                <p>Opening Hours</p>
                <span class="">Mon - Fri: 8am - 8pm</span>
                <span class="">Saturday: 9am - 7pm</span>
                <span class="">Sunday: 9am - 4pm</span>
              </div>
              <br>
              <div class="social-icon">
                <i class="fb fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="add-con text-center">
                <p>Ask Us Anything</p>
                <div class="contact-box">
                  <form action="">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="user-box d-flex col-12 col-lg-6">
                          <label>First Name</label>
                          <input type="text" name="" required="">
                        </div>
                        <div class="user-box d-flex col-12 col-lg-6">
                          <label>Last Name</label>
                          <input type="text" name="" required="">
                        </div>
                        <div class="user-box d-flex col-12 col-lg-6">
                          <label>Email</label>
                          <input type="email" name="" required="">
                        </div>
                        <div class="user-box d-flex col-12 col-lg-6">
                          <label>Phone Number</label>
                          <input type="phone" name="" required="">
                        </div>
                        <div class="user-box d-flex col-12">
                          <label>Leave a message</label>
                          <input type="text" name="">
                        </div>

                        <div class="submit-box col-12">
                          <button type="submit" class="sub-btn">Submit</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container-fluid">
          <div id="map" class="">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.270102500791!2d73.9044449751777!3d18.561857667911845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c13ea3d1740f%3A0x6ec6f7d69804cf2c!2sFaith%20Centre!5e0!3m2!1sen!2sin!4v1689183243948!5m2!1sen!2sin"
              style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="maroon-div">
            <br><br><br><br><br><br>
          </div>
        </div>

        <div class="copyright container-fluid">
          <p>&copy Copyright 2023 Resource Oasis.</p>
        </div>
      </div>
</footer>